/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    /* border: 6px solid #1acc8d;
    border-top-color: #d2f9eb; */
    /* border-radius: 50%; */
    width: 125px;
    height: 125px;
    -webkit-animation: animate-preloader 5s linear infinite;
    animation: animate-preloader 5s linear infinite;
    background-image: url('https://pmc.ph/app/static/ico.png');
    opacity: 0.50;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }